<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/navigation.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body id="body-pd">

  <!-- Navigation -->
  <%- include('partials/nav.ejs') %>

  <article class="card">
    <article class="grid gap-big">
      <div class="title">
        WeatherService | <%= username !== undefined && username !== null ? `${username}'s profile` : '' %>
        <p>View and manage your account settings and current subscriptions</p>
      </div>
    </article>

    <% if (typeof alert !== 'undefined') { %>
      <% alert.forEach((error) => { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error.msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% }) %>
    <% } %>

    <% if (typeof successMsg !== 'undefined') { %>
      <div class="alert alert-success" role="alert">
        <%= successMsg %>
      </div>
    <% } %>

    <!-- Using PUT or DELETE in ejs forms(https://stackoverflow.com/questions/71812272/put-request-working-as-get-request-nodejs) -->
    <form id="update-profile" class="grid gap-big" action="/profile/update?_method=PUT" method="POST">
      <div class="title">Account Information</div>
      <fieldset>
        <label>Username</label>
        <input name="username" type="text" value="<%= username %>">
      </fieldset>
      <fieldset>
        <label>Password</label>
        <input name="password" type="password" placeholder="New password here. Don't forget to click Save!">
      </fieldset>
      <fieldset>
        <label>Email</label>
        <input name="email" type="text" value="<%= email %>">
      </fieldset>
      <fieldset>
        <label>Phone Number - alerts send to this number</label>
        <input name="phone" id="phone" type="tel" value="<%= phone %>">
      </fieldset>
      
      <div class="title">My Subscriptions</div>
      <fieldset>
        <div class="checkbox">
          <input name="dailyWeatherReports" type="checkbox" class="switch" id="b1" <%= dailyWeather ? "checked" : "" %>> 
          <label for="b1">Daily Weather Report Texts</label>
        </div>
      </fieldset>
      <fieldset>
        <div class="checkbox">
          <input name="severeWeatherAlerts" type="checkbox" class="switch" id="b2" <%= weatherAlerts ? "checked" : "" %>>
          <label for="b2">Severe Weather Alert Texts</label>
        </div>
      </fieldset>
      <p>Once you have made your changes here, click SAVE to update your information, including any subscription changes.</p>

      <input id="save-btn" value="SAVE" type="submit">     
    </form>
  </article>

  <script src="../js/navigation.js"></script>
  <script src="../js/phoneFormat.js"></script>
</body>
</html>